html {
  box-sizing: border-box;
  height: 100%; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #0e0e29;
  color: #cca;
  font-family: "Humane", sans-serif;
}

.anthony {
  width: 200px;
  border-radius: 50%;
  height: auto;
  box-shadow: 0 0 30px black;
}

h1, h2 {
  color: whitesmoke;
  text-align: center;
}

p {
  color: #cca; 
  text-align: center;
  font-size: large; /
}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

.textAnimation {
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #ff9a8b, #8a93e6, #67b7c7);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.main {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  max-width: 100%;
}

/*CSS*/
.aboutMe, .experience, .projects {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  padding: 20px; 
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: solid 4px transparent;
  border-image: linear-gradient(to right, #ff9a8b, #8a93e6, #67b7c7) 1 round;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-between; 
  flex: 1;
  min-width: 300px; 
  min-height: 300px; 
  height: auto; 
}


.aboutMe h2, .experience ul, .projects div {
  flex-grow: 1;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}


p, li {
  line-height: 1.6; 
}


@media (max-width: 768px) {
  .aboutMe, .experience, .projects {
    padding: 20px;
    margin: 20px auto;
    height: auto; 
  }
}


#spotlight {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  width: 800px; 
  height: 800px; 
  background: radial-gradient(circle, rgba(24, 24, 78, 0.4) 0%, rgba(19, 19, 114, 0) 80%);
  transition: background 0.4s, width 0.4s, height 0.4s;
  transform: translate(-50%, -50%);
  top: 20%; 
  left: 5%; 
  display: block; 
}

footer {
  text-align: center;
  padding: 1rem;
  width: 100%;
  bottom: 0;
  position: absolute;
  
}

footer a {
  color: grey;
  text-decoration: none; 
  margin: 0 10px; 
  font-size: 2.2rem; 
}

footer a:hover {
  color: whitesmoke
}

